h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: verdana, serif;
    font-size: xx-large;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

img {
  float: left;
  margin-right: 10px;
}

h2 {
    text-align: center;
    clear: both;
    text-transform: uppercase;
    font-family: verdana, serif;
    font-size: x-large;
    font-weight: 700;
    color: brown;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

div {
  font-family: Georgia, serif;
  word-spacing: 0.2em;
  line-height: 25px;
  color: white;
  font-size: 20px;
  backdrop-filter: blur(5px);
}

.navbar {
  overflow: hidden;
  background-color: black
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

body {
  background-image: url("images/body.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 5% 10%;
}
